header{
    position:-webkit-sticky fixed;
}
head{
    background-color: #ECE8D9;
}
head ul{
    text-decoration: none;
}
#hov:hover{
    cursor: pointer;

transform: scale(1.06);
}
#scdnav{
    position: sticky;
}
#hand {
margin-left: 300px;
}
#quality{
    margin-left: 60px;
}
#sch{
    margin-left: 550px;
    margin-top: -50px;
}
#niger{
    margin-top: 100px;
    margin-left: 20px;
    padding-bottom: 90px;

}
article{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EDF6FD;
}
#box{
    background-color:white;
    padding: 10px;
    width: 380px;
    height: 180px;
}
#blue{
    color: #1DA1F4;
}
#size{
    font-size:20px;
}
#bigbox{
    background-color: #ECE8D9;
}
#header{
    /* width: 100%; */
    background-color: #ECE8D9;
}
input{
    outline: none;
}
a{
    color: black;
    text-decoration: none;
}
#lastbox{
    color: #384A62;
    background-color: #ECE8D9;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 100px;
    justify-content: space-around;
}
#footer1{
    text-decoration: none;
    background-color: #384A62;
    color: white;
    padding-bottom: 80px;
}
#visa{
    width: 150px;
}
#footer2{
    background-color:#CBCAC8 ;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 35%;
    /* margin-bottom: 45px; */
}
@media screen and (max-width:480px){
    #footer2{
        width: 100vw;

    }
    #footer1{
        width: -200vw;
        display: flex;
        flex-direction: column;
    }
    #lastbox{
        width: 150%;
    }
    #boxx1{
        width: -200vw;
        display: flex;
        /* flex-direction: column; */
    }
    #lastbox2{
        width: 150px;
        display: flex;
        flex-direction: column;
        
    }
    #cardd{
        width: 65vw;
    }
    #tech{
        width: -150%;
        display:flex;
        flex-direction: column;
    }
    #you{
        width: 150%;
    }
    #container1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        /* border: 1px solid red; */
    }
}
